<footer>
    <iframe src="https://github.com/sponsors/OliverKarger/button" title="Sponsor OliverKarger" height="35" width="116" style="border: 0;"></iframe>
    <img src="https://img.shields.io/github/commit-activity/w/infernitas-se/openissuetracker?logo=GitHub&style=for-the-badge" alt="gitub_activitiy_badge" />
    <img src="https://img.shields.io/github/release-date/infernitas-se/openissuetracker?logo=github&style=for-the-badge" alt="github_last_release" />
    <img src="https://img.shields.io/github/issues/infernitas-se/openissuetracker?logo=github&style=for-the-badge" alt="github_issues" />
</footer>